* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "JetBrains Mono"
}


.text {
    padding: 3px 3px 3px 3px;
    font-size: 14px;
}

.error {
    color: red;
}

.btndiv {
    position: absolute;
    left: 25px;
    top: 50px;
    width: 100px;
    word-wrap: break-word;
}

.button {
    padding: 12px;
    cursor: pointer;
    border: 2px solid rgba(57, 186, 229, 0.16);
    border-radius: 5px;
    font-size: 15px;
    color: rgba(1, 1, 1, 0.61);
    width: 100px;
}

.button:hover {
    background-color: rgba(19, 99, 124, 0.15);
    transition: background-color 0.1s linear;
    color: rgba(1, 1, 1, 0.67);
}

.curpath {
    position: absolute;
    left: 178px;
    top: 32px;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back {
    padding: 5px 8px 10px 8px;
    width: 46px;
}

.back:hover {
    cursor: pointer;
}


.items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 100px auto;
    justify-content: center;
}

.item {
    font-size: 14px;
    padding: 15px;
    width: 150px;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.item:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}


.hidebar {
    background-color: white;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #b8b8b8;
}

.hbtext {
    padding: 8px 35px 8px 35px;
}

.hbtext:hover {
    background-color: rgba(222, 222, 222, 0.42);
    transition: background-color 0.1s linear;
    cursor: pointer;
    border-radius: 10px;
}

.hidden {
    visibility: hidden;
}

.none {
    display: none;
}






